image boot.vfat {
  vfat {
    files = {
      "bcm2708-rpi-zero-w.dtb",
      "rpi-firmware/bootcode.bin",
      "rpi-firmware/cmdline.txt",
      "rpi-firmware/config.txt",
      "rpi-firmware/fixup.dat",
      "rpi-firmware/start.elf",
      "zImage"
    }
  }
  size = 32M
}

image sdcard.img {
  hdimage {
  }

  partition boot {
    partition-type = 0xC
    bootable = "true"
    image = "boot.vfat"
  }

  partition rootfs {
    partition-type = 0x83
    image = "rootfs.squashfs"
  }

  # THIS IS THE NEW DATA PARTITION
  partition data {
    partition-type = 0xC  # 0xC is FAT32 LBA
    size = 32M            # Adjust size as needed
    image = "data.vfat"   # We need to define this image below
  }
}

# Define the empty data image
image data.vfat {
  vfat {
    # Empty by default
    extraargs = "-n DATA"  # Volume label
  }
  size = 32M
}